.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hike-card {
  @include card-effect;
  min-height: 60vh;
  min-width: 355px;
  max-width: 380px;
  padding-left: 0px; //required for img to be full width
  padding-right: 0px;
}
// .hike-cards-row {
//   margin: auto;
// }

.list-card {
  @include card-effect;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  position: relative;
  display: block;
}

.list-form {
  @include card-effect;
}

.lists-card-row {
  margin-left: 0px;
  justify-content: center !important;
  display: flex;
  width: auto;
}

.card img {
  height: 35vh;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .hike-card {
    min-width: 100%;
    max-width: none;
  }
}
