.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hike-card {
  @include card-effect;
  min-height: 60vh;
  padding-right: 5px;
  padding-left: 5px;
}

.list-card {
  @include card-effect;
  max-width: 800px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.card img {
  height: 35vh;
  object-fit: cover;
}
