.home-image {
    background-color: rgb(187, 187, 187);
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("Hikable-home-image.jpg");
    height: 100vh;
    padding-bottom: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
  }

  .home-header {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    color: white;
    text-align: center;
    @include font-size(4.5rem);
  }
  
  .home-feature {
    color: white;
    text-align: center;
    @include font-size(2.5rem);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
  
  .home-link {
    color: white;
    text-align: center;
    @include font-size(3rem);
  }
  