@import "../../node_modules/bootstrap/scss/mixins";

.nav-pills .nav-link.active {
  // import this from button
  @include theme-color;
}

.nav-link {
  padding-right: 15px !important;
  padding-left: 15px !important;
  color: grey;
}

.search-bar-nav {
  width: 450px;
  padding-top: 20px;
}

.navbar {
  @include font-size(1.35rem);
  background-color: #e3f2fd;
  align-items: center;
  padding: 0;
  font-size: x-large;
}

.nav-link {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.navbar-bottom {
  font-size: 0.8rem;
}

.footer {
  clear: both;
  position: relative;
  margin-top: auto;
}

@media only screen and (max-width: 1200px) {
  .search-bar-nav {
    width: 260px;
  }
}

@media only screen and (max-width: 950px) {
  .search-bar-nav {
    width: 90%;
    padding: 0px;
  }
}
