@import "./custom";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./navbar";
@import "./card";
@import "./button";
@import "./header";
@import "./home";

body {
  font-family: "Titillium Web", "Bitstream Vera Serif", sans-serif;
}

.container {
  min-height: 100vh; 
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.form-container {
  background-color: #f1f1f1;
  padding: 5px;
}

.sessions-container {
  width: 55%;
  height: fit-content;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.form-inline .form-group {
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
}
